<div class="container">
  <app-weekday *ngFor="let today of daysOfWeek, let i = index"
               class="items"
               [today]="today"
               [active]="i === weekday"
  ></app-weekday>
</div>
