@import "src/assets/variables";

.circle {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='5' stroke-dasharray='18' stroke-dashoffset='30' stroke-linecap='round'/%3e%3c/svg%3e");
  color: $font-white;
  border-radius: 150px;
  width: 150px;
  height: 150px;
  display: flex;
}

.item {
  margin: auto;
  font-size: 3rem;
}

.active {
  border-style: solid;
  background-image: unset;
}
